
  <h1>Welcome</h1>
  <div class='button-div'>
    <%= button_to "Add Album", '/add_album', method: :get, :class => 'btn btn-primary buttons' %>
  </div>
  <div class='button-div'>
    <%= button_to "Add Artist", '/add_artist', method: :get, :class => 'btn btn-primary buttons' %>
  </div>
